
.modal-Container-fullscreen{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: lightgrey;
  width: 70%;
  border: 1px solid whitesmoke;
  left: 0.5%;
  top: 1%;
  transition: all 0.3s ease-out;

}

@media (min-width: 300px) {
  .modal-Container-fullscreen {
    width: 99%;
    height: 98%;
    right: 99%;
  }
}
.modal-Container-gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color:lightgrey;
  width: 70%;
  border: 1px solid whitesmoke;
  left: 0.5%;
  top: 1%;
  transition: all 0.3s ease-out;
}

@media (min-width: 300px) {
  .modal-Container-gallery {
    width: 99%;
    height: 98%;
    right: 99%;
  }
}
.outside-close{
  height: 5%;
  width: 100%;
}
.modal-close-button{

  position: fixed;
  padding-top:3px;
  right: 1rem;

}

.to-gallery-button{
  position: fixed;
  bottom: 37.5%;
  width: 100px;
  height: 45px;
  background-color: rgba(0, 0,0,0.1);
  color: white;
  border:0;
}
.helpful-button{
  z-index: 13;
  opacity: 20%;
  position: absolute;
  right:28%;
  bottom:12%;
  background-color: white;
  width: 120px;
  height: 38px;
}
.helpful-button:hover{
  opacity: 90%;
}
.reported-button{
  z-index: 13;
  opacity: 20%;
  position: absolute;
  right:37%;
  bottom:12%;
  background-color: white;
  width: 100px;
  height: 38px;
}
.reported-button:hover{
  opacity: 90%;
}
.gallery-button{
  z-index: 13;
  opacity: 10%;
  position: absolute;
  left:2%;
  top:7%;
  background-color: white;
  width: 102px;
  height: 38px;
}
.gallery-button:hover{
  opacity: 90%;
}
.helpful-overlay
.inside-offset{
  flex: 1;
  flex-direction: row;
  height: 95%;
  width: 100%;
  background-color: white;
}

.scroll-content{
  display: flex;
  flex:0;
  flex-direction: column;
  overflow: scroll;
  width:70%;
  height: 100%;
  background-color:white;
}
.height-limiter{
  width: 100%;
  min-height: min-content;
  display: flex;
  flex-wrap: wrap;

}
.gallery-box{
  padding:10px;
  width: 250;
  height: 140;
}
.gallery-box-sizing{
  width: 240px;
  height: 130px;
}
.fullscreen-content{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  background-color: black;
}
.full-content-styling{
  width:75%
}
.mini-slider-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  width: 75%;
  height: 80px;
  background-color: rgba(0, 0,0,0.2);
  opacity:0.5;
}
.mini-slider-container:hover{
  opacity: 1;
}
.mini-container{
  margin: 0,10,0,10;
  padding: 0,20,0,20;
  width: 75px;
  height: 75px;
}
.mini-container:hover{
  border:4px solid #00a680;
}
.mini-image-styling{
width: 75px;
height: 75px;
}
.side-bar{
  display: flex;
  flex:1;
  flex-direction: column;
  width:100%;
  height: 100%;
  background-color: white;
}
.user-profile-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid lightgray;
}
.user-profile-offset{
  display: flex;
  padding-top: 30px;
}
.left-profile-section{
  display: flex;
  width: 15%;
  height: 30%;
}
.user-description{
  display: flex;
  flex-direction: column;
  width: 85%;

}
.profile-pic{
  padding-left: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;


}
.profile-empty-circle{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 100px;
  color:#00a680;
  padding:3px;

}
.profile-circle{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 100px;
  color:#00a680;
  background-color: #00a680;
  padding:3px;
}
.user-title{
  font-size: 14;
}
.user-misc-info{
  font-size: 12;
}

.Modal-img-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.img-full{
  width:100%;
  max-height: 800px;
  object-fit: contain;
}

.modal-right-arrow-overlay{
  z-index: 13;
  position: absolute;
  right:31%;
  width: 60px;
  height: 60px;
  top:50%;

}
.modal-left-arrow-overlay{
  z-index: 13;
  position: absolute;
  left:1rem;
  width: 60px;
  height: 60px;
  top:50%;
}