.description{
  font-family: 'Trip Sans', Arial, sans-serif !important;
  font-size: medium;
  color: #2c2c2c;
  background-color: #fff;
  display: block;

}
.container{
  display:flex;
  flex-direction: column;
  width: 100%;
}
.top-container{
  padding: 12px 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  justify-content: center;
  background-color: #fff;
}
.top-wrapper{
  display: block;
}
.header{
width:80%;
padding:8px;
}

.header h1{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000a12;
}
.rating{
  display: inline-block;
}
.circle {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 3px solid;
  border-radius: 100px;
  color:#00a680;
  background-color: #00a680;
 }
 .empty-circle {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 3px solid;
  border-radius: 100px;
  color:#00a680;

 }
 .review-number{
   border-bottom: dashed 0.5px grey;
   text-decoration: none;
   margin-left: 5px;
   font-size: 14px;
 }
 .review-number:hover{
  text-decoration: underline;
 }
 #misc-rev{
  display: inline-block;
 }
 #misc-revt{
   display: inline-block;
   padding-left: 5px;
 }
 #mbold{
   font-weight: bold;
 }
 .right-header{
  box-sizing: border-box;
  position: right;
  display: inline-block;
 }
